# Tushare
TUSHARE_TOKEN=
DEFAULT_STOCKS=600537,603778,000890

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
MYSQL_DATABASE=stockd
MYSQL_USER=stockd

# stockd
STOCKD_PORT=8443
STOCKD_SERVER_SESSION_SECRET=
STOCKD_TUSHARE_DEFAULT_TOKEN=
